@import url('https://fonts.googleapis.com/css?family=Exo|Open+Sans');


header {
/*background-color: hsla(38%, 68%, 81%, 1)
*/
background-color: #212833;
}

nav li {
  text-decoration: none;
  display: inline;
  padding: 5px, 6px;
  font-family: 'Exo', fantasy;
  font-size: 30px;
  margin-right: 20px;
  color: white;
}

nav a:hover {
  text-decoration-color: #d83704;

}

nav li:hover {
  /*background-color: #C3B299;*/
  text-decoration: underline;
  text-decoration-color: #d83704;
}

ul {
  list-style: none;

}

.index-nav {
  text-decoration: none;
  color: red;
}


li::before {
  content: ">";
  color: #d83704;
  display: inline-block;
  width: 0.7em;


}

body {

  font-family: 'Exo', Times, sans-serif;
  background-color: #212833;
  list-style-type: none;
  color: #CCCCCC;
}

p::before {

  color: #d83704;
}



h2 {
  font-family: 'Exo', sans-serif;
  color: white;
  opacity: 0.8;
  font-size: 36px;

}

a {
  text-decoration: none;
  color: inherit;
}

#landing {
  color: white;
  opacity: 0.8;
  font-family: 'Exo', sans-serif;
  font-weight: bold;
  font-size: 150px;
  transform: rotate(8deg);
   text-align: center;
   margin-top: 250px;


}
 #landing:hover {
  text-decoration: underline;
  text-decoration-color: #d83704;
  font-family: 'Exo', sans-serif;

}
#landing-sub {
  font-style: italic;
  font-weight: lighter;
  -webkit-transform: rotate(8deg);
  text-align: center;
  margin-top: -100px;

}

footer {
color: white;
}
